.bundle
Gemfile.lock

.DS_Store
.vscode

.ipynb_checkpoints

Manifest.toml
*.jl.cov
*.jl.*.cov
*.jl.mem

out
node_modules
.vscode-test
*.vsix

.pytest_cache
.mypy_cache

py_venv

yarn.lock

*.tsbuildinfo

Qnarre/dev
Qnarre/julia
Qnarre/raw
Qnarre/usr
Qnarre/vsc/vsc_*


